<div class="col-md-6 col-xs-12 mr_mab">
    <div class="form-group">
        <label for="sx-2" class="control-label col-sm-4">交易类型</label>
        <div class="col-sm-8 input-group posi">
            <input type="text" id="" name="" readonly="readonly" class="form-control list" placeholder="全部">
            <span class="input-group-addon bor">
                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                            </span>
            <ul class="l-list">
                <li>
                    <label>
                        <input type="radio" name="Ordertype" checked="checked" value="" class="ace">
                        <span class="lbl">全部</span>
                        &emsp;&emsp;
                    </label>
                </li>

                <php>
                    foreach(json_decode($_COOKIE['passageway_list'],true) as $key=>$val){
                </php>
                <li>
                    <label>
                        <input type="radio" name="Ordertype" value="<php>echo $val['T'];</php>" class="ace">
                        <span class="lbl"><php>echo $val['N'];</php></span>
                    </label>
                </li>
                <php>}</php>

            </ul>
        </div>

    </div>

</div>
