<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="__PUBLIC__/newEfuli/css/babel.css">
    <link rel="stylesheet" href="__PUBLIC__/newEfuli/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/newEfuli/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/newEfuli/css/swiper.min.css">
    <link rel="stylesheet" href="__PUBLIC__/newEfuli/css/pay.css">
</head>
<body>
<div class="container">
    <div class="row noticePath">
        <div class="col-xs-1">
            <img src="__PUBLIC__/newEfuli/img/noticeIcon.png" alt=""></div>
        <div class="col-xs-11" id="scrollText">
            <marquee  direction="left" scrolldelay="2" scrollamount="3">
                159*******1购买100元现金券两张；158*******6购买200元现金券两张；136*******2购买100元现金券三张；177*******9购买50元现金券一张；
            </marquee>
        </div>
    </div>