<include file="EFuliIndex:Efuliheader"/>
    
    <div class="container-fuild">
        <div class="row">
            <div class="row cashBanner">
                <div class="col-xs-12">
                    <img src="__PUBLIC__/newEfuli/img/cashBanner.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row explainText">
            <div class="col-xs-12">
                <p>用户领取：</p>
                <span>手机复制包含卡密的短信或通知消息，打开支付宝APP，弹出领取窗口，点击“立即领取”即可领取。</span>
            </div>
            <div class="col-xs-12">
                <img src="__PUBLIC__/newEfuli/img/receive.png" alt=""></div>
        </div>
        <div class="row explainText">
            <div class="col-xs-12">
                <p>查看卡券：</p>
                <span>打开支付宝APP，进入支付宝卡包，支付宝抵用券存于“券”中。</span>
            </div>
            <div class="col-xs-12">
                <img src="__PUBLIC__/newEfuli/img/check.png" alt=""></div>
        </div>
        <div class="row explainText">
            <div class="col-xs-12">
                <p>使用场景：</p>
                <span>360覆盖线上线下消费场景，几乎能在所有使用支付宝消费的场景内使用抵用券。支付后自动抵扣。</span>
            </div>
            <div class="col-xs-12">
                <img src="__PUBLIC__/newEfuli/img/scene.png" alt=""></div>
        </div>
        <div class="row explainText">
            <div class="col-xs-12">
                <p>注意事项：</p>
                <ul>
                    <li>
                        1、本券仅限在支付宝线下签约商家（个人收款码及转账除外）及部分线上APP使用支付宝付款时（包含出示付款码、扫码付、支付宝付款）实付金额大于券面金额时自动抵扣。
                    </li>
                    <li>2、在线上APP使用支付宝付款时，须关闭免密支付，本券方可被抵扣。</li>
                    <li>3、本券仅限用于消费抵扣，不得提现，不得转增，不可拆分使用。</li>
                    <li>4、本券每笔交易限使用1张。在您绑定了多张券的情况下，支付系统将自动优先选择最大券面额进行抵扣</li>
                    <li>5、本券自激活之日起90日内使用有效。</li>
                    <li>
                        6、使用该券后发生的退款，本券不自动退还。可通过<a href = "https://jinshuju.net/f/3tNcz9">https://jinshuju.net/f/3tNcz9</a>在线申请退券。
                    </li>
                </ul>
            </div>
        </div>
        <div class="row explainText">
            <div class="col-xs-12">
                <p>联系我们：</p>
                <ul>
                    <li>18802233587</li>
                </ul>
            </div>
        </div>
        <include file="EFuliIndex:Efulifooter"/>